body{
    margin: 0;
}
img.img1{
    width: 240px;
    position: relative;
    left: 540px;
    border-radius: 50%;
}
img.img2{
    width: 180px;
    position: relative;
    left: 560px;
    border-radius: 50%;
}
p.textoss1{
    position: relative;
    top: 10px;
    left: 480px;
}
h3.textoss1{
    position: relative;
    left: 570px;
}
p.textoss{
    position: relative;
    top: 100px;
    left: 480px;
}
h3.textoss{
    position: relative;
    top: 60px;
    left: 550px;
}
@media  screen and (max-width: 733px) {
    body{
        margin: 0;
    }
    img.img1{
        width: 180px;
        position: relative;
        left: 160px;
        border-radius: 50%;
    }
    img.img2{
        width: 160px;
        position: relative;
        left: 160px;
        border-radius: 50%;
    }
    p.textoss1{
        position: relative;
        top: 10px;
        left: 110px;
    }
    h3.textoss1{
        position: relative;
        left: 140px;
    }
    p.textoss{
        position: relative;
        top: 30px;
        left: 110px;
    }
    h3.textoss{
        position: relative;
        top: 10px;
        left: 140px;
    }
}