p{
    font-family: 'Oswald', sans-serif;
}
p.titulo{
    font-family: 'Lobster', cursive;
    font-size: 65px;
    position:absolute;
    top: 240px;
    left: 370px;
}

@media  screen and (max-width: 733px) {
    img{
        width: 280px;
        margin: 0;
    }
    p.titulo{
    position: absolute;
    top: 150px;
    left: 190px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    }
    p{
        font-family: 'Oswald', sans-serif;
    }
}